<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:replace="~{fragments/head :: commonHead}"></th:block>
</head>
<body>
<div id="map"></div>

<div th:replace="~{fragments/area-setup :: areaSetupFragment}"></div>
<div th:replace="~{fragments/route-plan :: routePlanFragment}"></div>
<div th:replace="~{fragments/work-scan :: workScanFragment}"></div>
<div th:replace="~{fragments/navigation :: navigationFragment}"></div>

<script th:src="@{/js/api.js(v=${appVersion})}"></script>
<script th:src="@{/js/map.js(v=${appVersion})}"></script>
<script src="https://cdn.jsdelivr.net/npm/jsqr@1.4.0/dist/jsQR.min.js"></script>
<script src="https://unpkg.com/@zxing/browser@latest"></script>
<script src="https://cdn.jsdelivr.net/npm/sortablejs@1.15.6/Sortable.min.js"></script>
<script th:src="@{/js/work-scan.js(v=${appVersion})}"></script>
<script th:src="@{/js/app.js(v=${appVersion})}"></script>


</body>
</html>
